.header {
    height: 80px;
    background-color: #4a91e0;
    display: flex;
    justify-content: flex-end;

}

@media  screen and (max-width: 833px) {
    .header {
        justify-content: center;
    }
}
