.contactsBlock {
    min-height: 33vh;
    background-color: #b2ec74;
}
.contactsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;

}
.title {
    background-color: #e7dd9c;
}
.containerForm {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    height: 50%;
    width: 25%;
    background-color: #e7dd9c;
}
.formBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formInputName {
    height: 26px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.formInputEmail {
    height: 26px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.formMessage {
    min-height: 52px;
    resize: vertical;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.formButton {
    border-radius: 5px;
    margin-bottom: 10px;
}