.contactsBlock {
    min-height: 33vh;
    background-color: #b2ec74;
}
.contactsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;

}
.title {
    background-color: #e7dd9c;
}

.contactForm {
    width: 50%;
    background-color: #bfd3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactForm input, .contactForm textarea {
    height: 35px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.formButton {
    padding: 10px 20px;
    background-color: #857a78;
    border-radius: 4px;
    margin-bottom: 10px;
}

@media  screen and (max-width: 655px) {
    .contactForm {
        width: 100%;
    }
}


