.workBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    background-color: #686ec1;
    margin: 5px 5px 0px 5px;
}
.imgContainer {
    /*position: relative;*/
    /*display: flex;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer img {
    width: 250px;
}
.projectLink {
    position: absolute;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: #9df36c;
}
