.skillsBlock {
    min-height: 100vh;
    background-color: #d7b4fc;
}

.skillsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.title {
    background-color: #e7dd9c;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
}