.skillsBlock {
    height: 100vh;
    background-color: #d7b4fc;
}
.skillsContainer {
    display: flex;
    align-items: center;
    /*align-items: flex-start;*/
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.title {
    background-color: #e7dd9c;
}
.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;

}