.mainBlock {
    min-height: 100vh;
    background-color: #c189a2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.greetings {
    width: 300px;
    background-color: #cdcbcb;
    margin: 5px;
}

.avaPhoto {
    width: 344px;
    height: 430px;
    background-color: #cdcbcb;
    margin: 5px;
}

@media  screen and (max-width: 833px) {
    .container {
        justify-content: center;
    }
}